# Backend
backend/taskmanager/target/
backend/taskmanager/.mvn/
backend/taskmanager/mvnw
backend/taskmanager/mvnw.cmd

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
